
@{
    ViewData["Title"] = "Track Delivery";
}

<div class="container-fluid">
    <div class="row align-items-center justify-content-center custom-min-vh-90">
        <div class="rounded-border-box">
            <br />
            <p>
                FAQs:
                To track the delivery status of your package, please have your tracking number ready and call our customer support team at +65 12345678.<br /><br />Our team is available during the following operating hours: 9am-9pm.<br /><br />When you call, please be prepared
                to provide your tracking number so that we can look up your package and provide you with the latest delivery information.<br><br />We will do our best to provide an estimated delivery date and any available delivery progress updates.<br /><br />If you have any other questions or concerns, our customer support team is here to assist you.<br /><br />Thank you for choosing our delivery service.
            </p>
        </div>
    </div>
</div>


