@{
    ViewData["Title"] = "Contact Us";
}

<div class="container-fluid">
    <div class="row align-items-center justify-content-center custom-min-vh-90">
        <div class="rounded-border-box">
            <br />
            <p>Phone: +65 1234 5678</p>
            <br />
            <p>Email: info@npcourierservice.com.sg</p>
            <br />
            <p>Address: 123 Main Street, #01-01, Singapore 123456</p>
            <br />
            <p>Monday - Friday: 9am to 9pm SGT</p>
            <br />
            <p>Saturday: 9am to 12pm SGT</p>
            <br />
            <p>Sunday: Closed</p>
        </div>
    </div>
</div>


