
@{
    ViewData["Title"] = "LoginRegister";
}

<div class="container-fluid">
    <div class="row align-items-center justify-content-center custom-min-vh-90">
        <div class="rounded-border-box d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center mb-4">Login As</h2>
            <div class="text-center mb-4">
                <div class="row">
                    <div class="col">
                        <a href="StaffLogin" class="btn btn-primary btn-block">Staff</a>
                    </div>
                    <div class="col">
                        <a href="MemberLogin" class="btn btn-primary btn-block">Member</a>
                    </div>
                </div>
            </div>
            <p class="text-center">Don't have an account? <a href="MemberRegister">Register here</a></p>
        </div>
    </div>
</div>
