@model IEnumerable<WEB_Assignment_IT02_Team7.Models.DeliveryHistory>

@{
    ViewData["Title"] = "DisplayDeliveryHistory";
}

@if (Model.ToList().Count > 0)
{
    <div class="deliveryHistoryTable">
        <h2 class="text-center">Delivery History</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Record ID</th>
                    <th>Parcel ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RecordID</td>
                        <td>@item.ParcelID</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="noDeliveryHistory">
        <h2 class="text-center text-danger">No Delivery History</h2>
    </div>
}