<nav class="navbar navbar-expand-md navbar-light">
	<a class="navbar-brand" href="~/FrontOffice/Index">
		<img id="NPCSLogo" src="~/assets/DeliveryIcon.png" alt="NPCS Logo" style="width:50px" />
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#commonNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="commonNavbar">
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link" href="~/FrontOffice/CreateParcelRecord">
					Create Delivery Order
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="~/FrontOffice/ViewUnpaidParcels">Payment Transaction</a>
			</li>
		</ul>
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link" href="~/FrontOffice/LogOut">Log Out</a>
			</li>
		</ul>
	</div>
</nav>
